@{
    ViewData["Title"] = "Home Page";
}

<div> <p class="western" align="center"><span style="font-size: xx-large;"><strong>Projeto Final</strong></span></p>
<p class="western" align="center">&nbsp;</p>
<p class="western" align="left">&nbsp;</p>
<p class="western" align="center"><span style="font-size: x-large;"><strong>Software para Gerenciamento de Elevadores</strong></span></p>
<p class="western" align="center">&nbsp;</p>
<p class="western" align="center">&nbsp;</p>
<p class="western" align="left"><span style="font-size: large;"><strong>Documenta&ccedil;&atilde;o &ndash; Manual Operacional</strong></span></p>
<p class="western" align="center">&nbsp;</p>
<p class="western" align="left"><span style="font-size: medium;">Este programa tem por finalidade </span><span style="font-size: medium;">definir</span><span style="font-size: medium;"> a forma como o usu&aacute;rio intera</span><span style="font-size: medium;">ge</span><span style="font-size: medium;"> com o elevador.</span></p>
<p class="western" align="left">&nbsp;</p>
<p class="western" align="left"><span style="font-size: medium;">Atrav&eacute;s de perguntas l&oacute;gicas o usu&aacute;rio defin</span><span style="font-size: medium;">e:</span></p>
<ul>
<li>
<p class="western" align="left"><span style="font-size: medium;">Qual a quantidade m&aacute;xima de andares o elevador ter&aacute;;</span></p>
</li>
<li>
<p class="western" align="left"><span style="font-size: medium;">Qual a capacidade m&aacute;xima de passageiros o elevador transportar&aacute;.</span></p>
</li>
</ul>
<p class="western" align="left">&nbsp;</p>
<p class="western" align="left"><span style="font-size: medium;">Ap&oacute;s defini&ccedil;&atilde;o d</span><span style="font-size: medium;">e capacidade e altura do </span><span style="font-size: medium;">elevador, o usu&aacute;rio ser&aacute; direcionado a pr&oacute;xima tela de op&ccedil;&otilde;es, onde ser&aacute; poss&iacute;vel definir:</span></p>
<ol>
<li><strong>Entrar</strong> – Insere um passageiro no elevador;</li>
<li><strong>Sair</strong> – Retira um passageiro do elevador;</li>
<li><strong>Subir</strong> – Sobe um andar;</li>
<li><strong>Descer</strong> – Desce um andar;</li>
<li><strong>Fim</strong> – Encerrar o programa.</li>
</ol>
<p class="western" align="left"><span style="font-size: medium;">Obs.: Caso o usu&aacute;rio digite uma op&ccedil;&atilde;o inv&aacute;lida, o programa apresentar&aacute; mensagem e solicitar&aacute; que seja digitada novamente uma das op&ccedil;&otilde;es apresentadas.</span></p>
<p class="western" align="left">&nbsp;</p>
<p class="western" align="left"><strong>Exemplo de utiliza&ccedil;&atilde;o:</strong></p>
<p class="western" align="left">&nbsp;</p>

<ul>
<li>
<p class="western" align="left">O usu&aacute;rio dever&aacute; digitar a quantidade de andares;</p>
<img border="0" alt="" src="/Imagens/01.png">
</li>
</ul>

<p class="western" align="left">&nbsp;</p>

<ul>
<li>
<p class="western" align="left">O usu&aacute;rio dever&aacute; digitar a quantidade m&aacute;xima de passageiros suportado pelo elevador;</p>
<img border="0" alt="" src="/Imagens/02.png">
</li>
</ul>

<p class="western" align="left">&nbsp;</p>

<ul>
    <li>
        <p class="western" align="left">Na tela de op&ccedil;&otilde;es, o usu&aacute;rio digitar&aacute; a op&ccedil;&atilde;o desejada:</p>
        <img border="0" alt="" src="/Imagens/03.png">

        <p class="western" align="left">&nbsp;</p>

        <ul>
            <li>
                <p class="western" align="left">Entrar</p>

                <ul>
                    <li>
                        <p class="western" align="left">Usu&aacute;rio dever&aacute; digitar o n&uacute;mero <strong>1</strong> para o sistema computar a entrada de passageiro;</p>
                        <img border="0" alt="" src="/Imagens/11.png">
                        <br/>
                        <br/>
                        <img border="0" alt="" src="/Imagens/12.png">
                        <br/>
                        <br/>
                    </li>
                    <li>
                        <p class="western" align="left">Ao tentar incluir mais passageiros que o m&aacute;ximo estabelecido, o programa apresentar&aacute; mensagem alertando.</p>
                        <img border="0" alt="" src="/Imagens/06.png">
                        <br/>
                        <br/>
                    </li>
                </ul>
            </li>
            <li>
                <p class="western" align="left">Sair</p>
                <ul>
                    <li>
                        <p class="western" align="left">Usu&aacute;rio dever&aacute; digitar o n&uacute;mero <strong>2</strong> para o sistema computar a sa&iacute;da de passageiro;</p>
                        <img border="0" alt="" src="/Imagens/17.png">
                        <br/>
                        <br/>
                        <img border="0" alt="" src="/Imagens/18.png">
                        <br/>
                        <br/>
                    </li>
                    <li>
                        <p class="western" align="left">Ao tentar tirar passageiros quando n&atilde;o houver nenhum, o programa apresentar&aacute; mensagem alertando.</p>
                        <img border="0" alt="" src="/Imagens/05.png">
                        <br/>
                        <br/>
                    </li>
                </ul>   
            </li>
            <li>
                <p class="western" align="left">Subir</p>
                <ul>
                    <li>
                        <p class="western" align="left">Usu&aacute;rio dever&aacute; digitar o n&uacute;mero <strong>3</strong> para o sistema computar a subida de andar;</p>
                        <img border="0" alt="" src="/Imagens/13.png">
                        <br/>
                        <br/>
                        <img border="0" alt="" src="/Imagens/14.png">
                        <br/>
                        <br/>
                    </li>
                    <li>
                        <p class="western" align="left">Ao tentar subir mais andares que o m&aacute;ximo estabelecido, o programa apresentar&aacute; mensagem alertando.</p>
                        <img border="0" alt="" src="/Imagens/07.png">
                        <br/>
                        <br/>
                    </li>
                </ul>
            </li>
            
            <li>
                <p class="western" align="left">Descer</p>
                <ul>
                    <li>
                        <p class="western" align="left">Usu&aacute;rio dever&aacute; digitar o n&uacute;mero <strong>4</strong> para o sistema computar a descida de andares;</p>
                        <img border="0" alt="" src="/Imagens/15.png">
                        <br/>
                        <br/>
                        <img border="0" alt="" src="/Imagens/16.png">
                        <br/>
                        <br/>
                    </li> 
                    <li>
                        <p class="western" align="left">Ao tentar descer de andar estando no piso <strong>0</strong> (t&eacute;rreo), o programa apresentar&aacute; mensagem alertando.</p>
                        <img border="0" alt="" src="/Imagens/08.png">
                        <br/>
                        <br/>
                    </li>
                </ul>
            </li>
            
            <li>
                <p class="western" align="left">Fim</p>
                <ul>
                    <li>
                        <p class="western" align="left">Usu&aacute;rio dever&aacute; digitar o n&uacute;mero <strong>5</strong> para encerrar o programa. Este ser&aacute; finalizado independente do estado atual de passageiros ou andares.</p>
                        <img border="0" alt="" src="/Imagens/19.png">
                        <br/>
                        <br/>
                        <img border="0" alt="" src="/Imagens/20.png">
                    </li>
                </ul>
            </li>     

        </ul>
    </li>

</ul>

</div>
